<%= form_with(model: advice_reply, local: true) do |form| %>
  <% if advice_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advice_reply.errors.count, "error") %> prohibited this advice_reply from being saved:</h2>

      <ul>
      <% advice_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :advice_question_id %>
    <%= form.text_field :advice_question_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
