<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @advice_reply.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @advice_reply.user.username %>
</p>

<p>
  <strong>Advice question:</strong>
  <%= @advice_reply.advice_question.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @advice_reply.desc %>
</p>

<% if @advice_reply.user_id == current_user.id %>
  <%= link_to 'Edit', edit_advice_reply_path(@advice_reply) %> |
  <%= link_to 'Destroy', @advice_reply, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<p><%= link_to 'Back', :back %></p>
