<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @topic.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <%= "created by #{User.find(@topic.user_id).username}" %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @topic.desc %>
</p>

<div>
  <% if @topic %>
    <% @questions.each do |question| %>
      <p><%= '-' + question.title %></p>
    <% end %>
  <% else %>
    <%= 'bruh1' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
