<%= form_with(model: advice_question, local: true) do |form| %>
  <% if advice_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advice_question.errors.count, "error") %> prohibited this advice_question from being saved:</h2>

      <ul>
      <% advice_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field"> %>
    <%# form.label :user_id %>
    <%# form.text_field :user_id %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%# form.label :topic_id %>
    <%# form.text_field :topic_id %>
  <%# </div> %>

  <%# select_tag :topic_id, options_for_select(Topic.find(@topic_id), @topic.title) %>
  <%= hidden_field_tag :topic_id, @topic_id %>

  <div class="field">
    <%= form.label :title, 'Topic Title:' %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :desc, 'Topic Description:' %>
    <%= form.text_area :desc %>
  </div>

  <p>
    <%= form.label :img, 'Upload a Question Image:' %>
    <%= form.file_field :img %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
