<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong><%= @advice_question.title %>
</p>

<p>
  <strong>Created by:</strong> <%= @advice_question.user.username %>
</p>
<p>
  <strong>Topic:</strong><%= @advice_question.topic.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @advice_question.desc %>
</p>

<div>
  <% if @replies %>
    <% unless @replies.empty? %>
      <h3>Replies:</h3>
      <% @replies.each do |reply| %>
      <div>
        <p><%= reply.title %></p>
        <p><%= reply.desc %></p>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <%= 'No replies yet...' %>
  <% end %>
</div>

<% if @advice_question.user_id == current_user.id %>
  <%= link_to 'Edit', edit_advice_question_path(@advice_question) %> |
  <%= link_to 'Destroy', @advice_question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if Topic.find(@advice_question.topic_id).user_id == current_user.id %>
  <p><%= 'bruh' %></p>
<% end %>
<%= link_to 'Back', :back %>
