<p id="notice"><%= notice %></p>

<h1>Question</h1>

<p>
  <strong>Title:</strong><%= @advice_question.title %>
</p>

<p>
  <strong>Created by:</strong> <%= @advice_question.user.username %>
</p>
<p>
  <strong>Topic: </strong><%= @advice_question.topic.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @advice_question.desc %>
</p>

<% if @advice_question.img.attached? %>
  <p class="book-item">
    <%= image_tag @advice_question.img, width: 200 %>
  </p>
<% end %>

<% if @advice_reply %>
  <% if Topic.find(@advice_question.topic_id).title == "General" %>
    <h2>Answer</h2>
    <%= render 'advice_replies/form', advice_reply: @advice_reply %>
  <% elsif Topic.find(@advice_question.topic_id).title == "Health" %>
    <h2>Answer</h2>
    <%= render 'advice_replies/form', advice_reply: @advice_reply %>
  <% elsif Topic.find(@advice_question.topic_id).title == "Wealth" %>
    <h2>Answer</h2>
    <%= render 'advice_replies/form', advice_reply: @advice_reply %>
  <% elsif Topic.find(@advice_question.topic_id).title == "Relationships" %>
    <h2>Answer</h2>
    <%= render 'advice_replies/form', advice_reply: @advice_reply %>
  <% elsif Topic.find(@advice_question.topic_id).user_id == current_user.id %>
    <h2>Answer</h2>
    <%= render 'advice_replies/form', advice_reply: @advice_reply %>
  <% end %>
<% end %>

<div>
  <% unless @replies.empty? %>
    <% unless @replies.empty? %>
      <h3>Replies:</h3>
      <% @replies.each do |reply| %>
      <div>
        <p><%= reply.title %></p>
        <p><%= reply.desc %> | <%= link_to "See More", advice_reply_path(reply.id) %></p>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <%= 'No replies yet...' %>
  <% end %>
</div>

<% if @advice_question.user_id == current_user.id %>
  <%= link_to 'Edit', edit_advice_question_path(@advice_question) %> |
  <%= link_to 'Destroy', @advice_question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p><%= link_to 'Back', :back %></p>
