<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<% if user_signed_in? %>
  <p><%= 'Hello, ' + current_user.email + '!' %></p>
  <p><%= link_to 'Create Topic', new_topic_path %></p>
  <p><%= link_to 'Create Advice Question', new_advice_question_path %></p>
  <p><%= link_to 'Create Advice Reply', new_advice_reply_path %></p>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %></p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>