<% if user_signed_in? %>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Hi <%= current_user.username %>!
        </h1>
        <h1 class="title has-text-centered">
          Welcome back
        </h1>
        <h2 class="subtitle has-text-centered">
          to
        </h2>
        <h2 class="title has-text-centered">
          Objective Bystander
        </h2>
        <h2 class="subtitle has-text-centered">
          your Marketplace for Advice
          <br>from objective bystanders
          <br>on the Internet
        </h2>
      </div>
    </div>
  </section>
<% else %>
    <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Welcome
        </h1>
        <h2 class="subtitle has-text-centered">
          to
        </h2>
        <h2 class="title has-text-centered">
          Objective Bystander
        </h2>
        <h2 class="subtitle has-text-centered">
          a Marketplace for Advice
          <br>from objective bystanders
          <br>on the Internet
        </h2>
      </div>
    </div>
  </section>
<% end %>

<section class="section">
  <h1 class="title has-text-centered">Advice Questions</h1>
  <h2 class="subtitle has-text-centered">
    broken down by topic
  </h2>
  <div class="columns has-text-centered">
    <div class="column">
      <h1 class='title'>
        <%= "#{@general_topic.title}" %>
      </h1>
      <% if AdviceQuestion.where(topic_id: @general_topic.id).count > 0 %>
        <% AdviceQuestion.where(topic_id: @general_topic.id)[0..2].each do |q| %>
        <p>
          <%= link_to "#{q.title}", advice_question_path(q.id) %>
        </p>
        <% end %>
      <% else %>
        <p>
          <%= 'Nothing here yet...' %>
        </p>
      <% end %>
      <br>
      <%= link_to "See more", topic_path(@general_topic), class: 'button is-light' %>
    </div>
    <div class="column">
      <h1 class='title'>
        <%= "#{@health_topic.title}" %>
      </h1>
      <% if AdviceQuestion.where(topic_id: @health_topic.id).count > 0 %>
        <% AdviceQuestion.where(topic_id: @health_topic.id)[0..2].each do |q| %>
        <p>
          <%= link_to "#{q.title}", advice_question_path(q.id) %>
        </p>
        <% end %>
      <% else %>
        <p>
          <%= 'Nothing here yet...' %>
        </p>
      <% end %>
      <br>
      <%= link_to "See more", topic_path(@health_topic), class: 'button is-light' %>
    </div>
  </div>

  <div class="columns has-text-centered">
    <div class="column">
      <h1 class='title'>
        <%= "#{@wealth_topic.title}" %>
      </h1>
      <% if AdviceQuestion.where(topic_id: @wealth_topic.id).count > 0 %>
        <% AdviceQuestion.where(topic_id: @wealth_topic.id)[0..2].each do |q| %>
        <p>
          <%= link_to "#{q.title}", advice_question_path(q.id) %>
        </p>
        <% end %>
      <% else %>
        <p>
          <%= 'Nothing here yet...' %>
        </p>
      <% end %>
      <br>
      <%= link_to "See more", topic_path(@wealth_topic), class: 'button is-light' %>
    </div>
    <div class="column">
      <h1 class='title'>
        <%= "#{@relationships_topic.title}" %>
      </h1>
      <% if AdviceQuestion.where(topic_id: @relationships_topic.id).count > 0 %>
        <% AdviceQuestion.where(topic_id: @relationships_topic.id)[0..2].each do |q| %>
        <p>
          <%= link_to "#{q.title}", advice_question_path(q.id) %>
        </p>
        <% end %>
      <% else %>
        <p>
          <%= 'Nothing here yet...' %>
        </p>
      <% end %>
      <br>
      <%= link_to "See more", topic_path(@relationships_topic), class: 'button is-light' %>
    </div>
  </div>
</section>

<% if @advisor_topics %>
  <hr>
  <section class="section">
    <h1 class="title has-text-centered">Advisor Topics</h1>

    <div class="columns has-text-centered">
      <div class="column is-full">
        <% @advisor_topics[3..-1].each do |topic| %>

          <h1 class='title'>
            <%= "#{topic.title}" %>
          </h1>
          <% if AdviceQuestion.where(topic_id: topic.id).count > 0 %>
            <% AdviceQuestion.where(topic_id: topic.id).each do |q| %>
              <p>
                <%= link_to "#{q.title}", advice_question_path(q) %>
              </p>
            <% end %>
            <br>
            <%= link_to "See more", topic_path(topic), class: 'button is-light' %>
            <br>
          <% else %>
            <%= 'No advice requests on this topic yet...' %>
          <% end %>
        <% end %>
      </div>
  </section>
<% end %>

<%# if @advisor_topics %>
  <%# @advisor_topics[3..-1].each do |topic| %>
    <%# <div> %>
      <%#  link_to "#{topic.title} | #{topic.desc}", topic_path(topic) %>
      <%# if AdviceQuestion.where(topic_id: topic.id) %>
        <%# AdviceQuestion.where(topic_id: topic.id).each do |q| %>
          <%#  '-' + q.title %>
        <%# end %>
      <%# else %>
        <%#  'bruh1' %>
      <%# end %>
    <%# </div> %>
  <%# end %>
<%# end %>